.header {
    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    &__btn {
        color: #fff;
        padding: 12px 17px;
        background-color: #FF0009;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        cursor: pointer;
    }

    &__burger {
        display: none;
    }
}

.partner-top {
    position: relative;
    background-image: url("@img/part-top-bg.jpg");
    position: relative;
    // max-height: 680px;
    height: fit-content;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 12vw;
    }

    &__heading {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        max-width: 300px;
        text-align: center;
        margin-bottom: 21px;
    }

    &__btn {
        background-color: #FF0009;
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        padding: 20px 42px;
        border-radius: 9px;
        cursor: pointer;
        text-align: center;
        -webkit-box-shadow: 0px 6px 6px -2px rgba(116, 116, 116, 0.43);
        -moz-box-shadow: 0px 6px 6px -2px rgba(116, 116, 116, 0.43);
        box-shadow: 0px 6px 6px -2px rgba(116, 116, 116, 0.43);
        transition: all 0.3s ease;

        &:hover {
            background-color: #D80008;
        }

        &:active {
            color: #D9D9D9;
            // background: rgb(191, 0, 7);
            // background: linear-gradient(180deg, rgba(191, 0, 7, 1) 26%, rgba(221, 0, 4, 1) 88%);
            box-shadow: none;
            background-color: #A90006;
        }
    }

    &__tel {
        position: fixed;
        // width: 4.7%;
        width: 4.2vw;
        right: 60px;
        bottom: 40px;
        z-index: 14;
        cursor: pointer;
        transition: transform 0.3s ease;

        &_icon:hover path:first-of-type {
            fill: #E30109;
        }

        &_icon {
            display: block;
            width: 100%;
            height: 100%;
        }

        &_form-close {
            position: fixed;
            display: none;
            width: 4.2vw;
            right: 60px;
            bottom: 45px;
            z-index: 16;
            cursor: pointer;
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
        }
    }

    &__el1 {
        width: 294px;
        height: 400px;
        position: absolute;
        right: 0;
        bottom: -200px;
        z-index: 4;
    }
}

.partner-about {
    padding-top: 84px;
    background-image: url("@img/part-about-bg.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 700px;

    &__text {
        padding-top: 42px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        width: 59vw;
        color: #fff;
        max-width: 847px;
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
    }

    &__el2 {
        position: absolute;
        left: -1px;
        width: 294px;
        height: 400px;
        bottom: -200px;
        z-index: 5;
    }



    &__driver {
        position: absolute;
        bottom: 0;
        right: 55px;
    }
}

.partner-advantages {
    background-image: url("@img/part-adv-bg.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 1020px;
    padding-top: 72px;

    &__title {
        background-image: url("@img/part-adv-bg-title.svg");
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        font-size: 30px;
        font-family: Montserrat;
        font-weight: 700;
        text-align: center;
        background-size: contain;
        width: 700px;
        height: 101px;
        color: #fff;
        margin: auto;
        padding-bottom: 5px;
    }

    &__else {
        color: black;
        font-size: 28px;
        font-family: Montserrat;
        font-weight: 700;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__adv {
        font-size: 22px;
        font-family: Montserrat;
        font-weight: 700;
        color: black;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
        transition: color 0.4s ease;

    }


    &__box {
        width: 62vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-auto-flow: row dense;
        justify-content: center;
        align-items: center;
    }


    .adv1 {
        grid-area: 1 / 1 / 2 / 3;
        background-color: #FF0009;
        color: #fff;
        border-radius: 0 15px 15px 15px;
        width: 316px;
        height: 82px;
        justify-self: end;
        align-self: end;
        transition: all 0.4s ease;

        &:hover {
            background-color: #A90006;
        }
        
    }

    .adv2 {
        grid-area: 1 / 3 / 3 / 5;
        color: #fff;
        background-color: black;
        // width: 259px;
        height: 149px;
        justify-self: stretch;
        align-self: end;
    }

    .adv3 {
        grid-area: 1 / 5 / 4 / 7;
        background-color: #E1E1E1;
        border-radius: 15px 0 15px 15px;
        width: 266px;
        // height: 236px;
        align-self: stretch;
        justify-self: start;
    }

    .adv4 {
        grid-area: 2 / 1 / 3 / 3;
        background-color: #E1E1E1;
        width: 290px;
        // height: 72px;
        align-self: stretch;
        justify-self: end;
    }

    .adv5 {
        grid-area: 3 / 1 / 4 / 5;
        color: #fff;
        background-color: #FF0009;
        width: 513px;
        // height: 72px;
        align-self: stretch;
        justify-self: end;
    }

    .adv6 {
        grid-area: 4 / 1 / 5 / 4;
        background-color: black;
        color: #fff;
        // width: 425px;
        height: 83px;
        justify-self: stretch;
    }

    .adv7 {
        grid-area: 4 / 4 / 5 / 7;
        background-color: #E1E1E1;
        // width: 446px;
        height: 83px;
        justify-self: stretch;
    }

    .adv8 {
        grid-area: 5 / 1 / 7 / 3;
        width: 235px;
        // height: 181px;
        background-color: #E1E1E1;
        border-radius: 15px 0 15px 0;
        justify-self: end;
        align-self: stretch;
    }

    .adv9 {
        grid-area: 5 / 3 / 7 / 5;
        // width: 289px;
        height: 159px;
        color: #fff;
        background-color: #FF0009;
        align-self: flex-start;
        justify-self: stretch;
    }

    .adv10 {
        grid-area: 5 / 5 / 6 / 7;
        background-color: black;
        color: #fff;
        border-radius: 15px 0 15px 15px;
        width: 265px;
        // height: 82px;
        align-self: stretch;
        justify-self: start;
    }

    .adv11 {
        grid-area: 6 / 5 / 7 / 7;
        background-color: #E1E1E1;
        border-radius: 15px 15px 0 15px;
        width: 321px;
        // height: 89px;
        align-self: stretch;
        justify-self: start;
    }

    &__ligth1 {
        position: absolute;
        top: 8px;
        right: 70px;
    }

    &__el3 {
        position: absolute;
        width: 272px;
        height: 548px;
        left: 0;
        z-index: 8;
        bottom: -225px;
    }

    &__ligth2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
    }

    &__superhero {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__skolkovo {
        position: absolute;
        bottom: 48px;
        right: 20%;
        background-image: url("@img/part-adv-bg-skolkovo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 21px;
        font-family: Montserrat;
        font-weight: 700;
        padding-bottom: 100px;
        padding-right: 100px;
        width: 611px;
        height: 180px;
    }

}

.partner-map {
    background-image: url("@img/part-map-bg.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 720px;
    height: 100vh;
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    padding-bottom: 45px;

    &__title {
        background-image: url("@img/part-map-bg-title.svg");
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        font-size: 30px;
        font-family: Montserrat;
        font-weight: 700;
        text-align: center;
        background-size: contain;
        color: black;
        width: 620px;
        height: 105px;
        margin: auto;
    }

    &__map {
        width: 56vw;
    }

    &__el4 {
        position: absolute;
        right: 0;
        width: 267px;
        height: 458px;
        bottom: -229px;
        z-index: 7;
    }

    &__text {
        font-size: 25px;
        color: #fff;
        font-family: Montserrat;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }

    &__hero {
        width: 315px;
        height: 348px;
        bottom: 0;
        left: 5px;
        position: absolute;
    }
}

.partner-partners {
    background-image: url("@img/part-parts-bg.jpg");
    background-position: bottom;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 1060px;
    padding-top: 65px;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        font-size: 30px;
        font-family: Montserrat;
        font-weight: 700;
        text-align: center;
        background-size: contain;
        color: black;
        background-image: url("@img/part-parts-bg-title.svg");
        margin: auto;
        width: 412px;
        height: 96px;
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__slide img {
        min-width: 75px;
        // max-width: 170px;
        height: 140px;
        width: 80%;
        display: inline;
    }

    &__slider {
        position: relative;
        padding-top: 30px;
        padding-bottom: 52px;
        width: 700px;
        margin: auto;

        // &.slick-list {
        //     transition: all 0.5s linear;
        // }

        // &.slick-list.slick-active {
        //     opacity: 1;
        // }

        // &.slick-list :not(.slick-active) {
        //     opacity: 0;
        // }
    }

    &__cards-title {
        background-image: url("@img/part-parts-bg-cards-title.svg");
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        font-size: 26px;
        font-family: Montserrat;
        font-weight: 700;
        text-align: center;
        background-size: contain;
        color: #fff;
        margin: auto;
        width: 572px;
        height: 76px;
    }

    &__cards {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-top: 32px;
    }

    &__card {
        width: 268px;
    }

    &__cycle {
        width: 256px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.partner-questions {
    background-image: url("@img/part-q-bg.jpg");
    background-position: top;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    position: relative;
    padding-top: 45px;
    padding-bottom: 5px;

    &__dialog {
        position: relative;
        width: 805px;
        margin: auto;
    }

    &__smile {
        position: absolute;
        left: -140px;
        top: 125px;
        width: 180px;
    }

    &__hero {
        position: absolute;
        right: -140px;
        top: 180px;
        width: 167px;
    }

    &__phrase {
        position: absolute;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            font-size: 17px;
            font-family: Montserrat;
            font-weight: 700;
            text-align: center;
        }
    }

    &__phrase1 {
        background-image: url("@img/part-q-phrase1.svg");
        object-fit: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 325px;
        height: 131px;
        top: 0;
        left: 20px;
        padding-bottom: 35px;
        padding-left: 15px;

        & p {
            width: 183px;
        }
    }

    &__phrase2 {
        padding-right: 35px;
        padding-bottom: 10px;
        width: 457px;
        height: 189px;
        background-image: url("@img/part-q-phrase2.svg");
        object-fit: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 15px;
        right: 15px;
        & p {
            width: 368px;
            font-size: 13px;
        }
    }

    &__phrase3 {
        padding-left: 35px;
        width: 355px;
        height: 96px;
        background-image: url("@img/part-q-phrase3.svg");
        object-fit: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 160px;
        left: 25px;
        & p {
            width: 238px;
        }
    }

    &__phrase4 {
        padding-right: 45px;
        width: 435px;
        height: 125px;
        background-image: url("@img/part-q-phrase4.svg");
        object-fit: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 197px;
        right: 20px;

        & p {
            width: 273px;
            font-size: 13px;
        }
    }

    &__phrase5 {
        padding-left: 35px;
        width: 312px;
        height: 94px;
        background-image: url("@img/part-q-phrase5.svg");
        object-fit: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 300px;
        left: 15px;
        & p {
            width: 191px;
        }
    }

    
    &__phrase6 {
        padding-right: 60px;
        width: 420px;
        height: 137px;
        background-image: url("@img/part-q-phrase6.svg");
        object-fit: cover;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 340px;
        right: 25px;
        & p {
            width: 255px;
            font-size: 13px;
        }
    }

    &__el5 {
        position: absolute;
        left: 0;
        width: 200px;
        height: 464px;
        top: -232px;
        z-index: 8;
    }
}

.partner-form {
    background-image: url("@img/bg-form.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 35px;
    position: relative;
    min-height: 700px;

    &__form {
        margin: 0 auto;
        width: 31vw;
        padding: 21px 41px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__input {
        padding: 12px 22px;
        background-color: #D9D9D9;
        width: 100%;
        font-size: 16px;
        font-family: Montserrat;
        font-weight: 500;
        margin-bottom: 17px;
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    &__info {
        font-family: Montserrat;
        font-weight: 500;
        width: 100%;
        color: #929292;
        font-size: 12px;
        margin-bottom: 8px;
    }
}